/* @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel:ital,wght@0..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:ital,wght@0..900&display=swap');

.sidebar-brand-text,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', cursive;
}

.sidebar-brand-text {
    text-transform: uppercase;
}


.highlight {
    background-color: var(--color-code-background);
}


.landing {
    text-align: center;
    padding-top: 2em;
    background-color: var(--color-background-secondary);
    min-height: 100vh;
}

.landing h1 {
    font-size: 600%;
    color: var(--color-brand-primary);
}

.landing h2 {
    font-size: 200%;
    font-family: var(--font-stack);
    margin-right: 0.3em;
    margin-left: 0.3em;
}

.landing img {
    max-height: 670px;
}

.landing input {
    padding: 16px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

/* CSS */
.button-landing {
    background-color: #535353;
    border-radius: 0px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    /* display: inline-block; */
    font-family: var(--font-stack--monospace);
    font-size: 104%;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 30px 30px 40px 20px;
    outline: none;
    padding: 24px 32px;
    /* position: relative; */
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* fa-brands fa-solid fa-gitlab fa-1x */

.button-landing:hover,
.button-landing:focus {
    background-color: var(--color-brand-primary);
}

dd strong {
    font-family: var(--font-stack--monospace);
}

svg {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
    width: 480px;
}

.cls-1 {
    stroke-dasharray: 800;
    stroke-dashoffset: -800;
    animation: firstLine 2s ease-out 0s normal forwards;
}


@keyframes firstLine {
    0% {
        stroke-dashoffset: -800;
    }

    40% {
        stroke-dashoffset: -400;
    }

    60% {
        stroke-dashoffset: -0;
    }

    85% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

body[data-theme="dark"] .highlight {
    background: #000;
}